# Node modules
# Use 'npm install'
node_modules/

# Typescript typings
# Use 'typings install' 
typings/

# Build files
# Built by ionic
www/build/

platforms/
plugins/

# Visual Studio Code config folder
.vscode/

.DS_Store
